<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="css/style.min.css">
</head>

<body>
    <div class="wrapper">
        <header class="header">
            <div class="container d-f justify-between align-bottom">
                <a href="#" class="logo">
                    <img src="images/logo.jpg" alt="">
                </a>
                <div class="header-phone">
                    отдел продаж <a href="tel:0997557777">099 755 77 77</a>
                </div>
            </div>
        </header>
        <main>
            <section class="banner">
                <div class="container d-f justify-between align-center">
                    <div class="banner-text col-4">
                        <div class="heading-h1">Время строить дом у реки</div>
                        <div>Загородный жилой комплекс River Park</div>
                        <img src="images/screen-1.jpg" alt="" class="mobile margin">
                        <ul class="banner-nav">
                            <li><span class="icon-Location-icon"></span><a href="#">Харьков, Алексеевка</a></li>
                            <li><span class="icon-compass-icon"></span><a href="#">Интерактивная карта</a></li>
                            <li><span class="icon-link-icon"></span><a href="#">Инфраструктура поселка</a></li>
                        </ul>
                        <button class="btn btn-primary" type="button">Обратная связь</button>
                    </div>
                    <div class="banner-img">
                        <img src="images/screen-1.jpg" alt="">
                    </div>
                </div>
            </section>
            <section class="panorama">
                <img src="images/screen-2.jpg" alt="">
            </section>
            <section class="idea">
                <div class="container d-f justify-between align-center">
                    <div class="idea-img">
                        <img src="images/screen-3.jpg" alt="">
                    </div>
                    <div class="idea-text col-5">
                        <div class="heading-h1 heading-h1__inverse">Идея посёлка</div>
                        <p>Жилой комплекс оснащен новейшими технологиями безопасности и развитой инфраструктурой, окружен живописными лесами и водохранилищем; дома поселка находятся на территории нетронутой природы и кристально чистого воздуха, рядом - зона отдыха, собственный пляж и спортивные площадки.</p>
                        <p>Престижное направление, максимальная близость к городу и расположение в одном из самых красивых и экологически чистых мест пригорода - являются отличительными чертами жилого комплекса.</p>
                    </div>
                </div>
            </section>
            <div class="container-big">
                <section class="video" style="background-image: url(images/video.jpg)">
                    <div class="video-holder">
                        <video src="">
                        </video>
                    </div>
                </section>
            </div>
            <section class="infrastructure">
                <div class="container d-f justify-between align-center">
                    <div class="col-5">
                        <div class="heading-h1 heading-h1__inverse">Инфраструктура
                            <span>River Park</span>
                        </div>
                        <div class="heading-h3">Служба безопасности</div>
                        <ul>
                            <li>Закрытая охраняемая территория (ГСО)</li>
                            <li>Видеонаблюдение по всему периметру </li>
                            <li>Пропускная система</li>
                        </ul>
                        <div class="heading-h3">Служба эксплуатации</div>
                        <ul>
                            <li>Озеленение общественной территории, уход
                                за газонами и посадками</li>
                            <li>Уборка общественной территории</li>
                            <li>Сезонная уборка снега</li>
                            <li>Регулярный вывоз мусора</li>
                            <li>Сервисная служба: услуги электрика и сантехника</li>
                        </ul>
                        <div class="heading-h3">Система коммуникаций</div>
                        <ul>
                            <li>Газификация каждого участка</li>
                            <li>Подключение каждого участка к электричеству</li>
                            <li>Высокоскоростной интернет</li>
                        </ul>
                    </div>
                </div>
                <div class="container d-f justify-between align-center margin">
                    <div class="infrastructure-img">
                        <img src="images/screen-4.jpg" alt="">
                    </div>
                    <div class="infrastructure-text">
                        <div class="heading-h3">Благоустройство территории</div>
                        <ul>
                            <li>Уличное освещение общественной территории</li>
                            <li>Прогулочная аллея с лавочками</li>
                            <li>Широкие улицы и тротуары: двухполосная дорога шириной 5,5 метров с бордюрами.</li>
                            <li>Гостевая парковка</li>
                        </ul>
                        <div class="heading-h3">Внутренняя инфраструктура</div>
                        <ul>
                            <li>Зона отдыха и развлечений: летняя площадка с открытым бассейном</li>
                            <li>Спортивная зона: площадка для пляжного волейбола, поле для мини-футбола, теннисные столы, беговая дорожка</li>
                            <li>Комфорт для детей и их родителей: наличие частного детского сада и детской площадки</li>
                            <li>На территории поселка будет 2 продуктовых магазина, аптека и магазин хозяйственных товаров</li>
                        </ul>
                    </div>
                </div>
            </section>
            <section class="section-img">
                <div class="container-big">
                    <img src="images/screen-5.jpg" alt="">
                </div>
            </section>
            <section class="section-img">
                <div class="container-big">
                    <img src="images/screen-6.jpg" alt="">
                </div>
            </section>
            <section class="infrastructure infrastructure__inverse">
                <div class="container">
                    <div class="heading-h1 heading-h1__inverse">Внешняя инфраструктура
                    </div>
                    <ul>
                        <li>Удобство транспортных путией и близость к Харькову</li>
                        <li>Расстояние до центра Харькова - 8.9 км</li>
                        <li>Поселок окружен лесом,рекой, рядом находится гостинично-ресторанный комплекс</li>
                    </ul>
                </div>
            </section>
            <section class="map">
                <div class="container">
                    <div class="heading-h1 heading-h1__inverse">Карта проезда
                    </div>
                    <div class="d-f">
                        <div class="col-5">
                            <div class="callback">
                                <div class="callback-info">
                                    Отдел продаж <br>
                                    099 755 77 77
                                    <a href="mailto:sale@riverpark.com">sale@riverpark.com</a>
                                </div>
                                <form action="" class="form">
                                    <div class="form-group">
                                        <label for="name" class="form-label">Ваше имя</label>
                                        <input type="text" id="name" name="name" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="phone" class="form-label">Телефон</label>
                                        <input type="text" id="phone" name="name" class="form-control js-phone">
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-callback">Перезвоните мне</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-5">
                            <img src="images/map.jpg" alt="" class="full-width">
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <footer class="footer">
            <div class="container">
                <div class="footer-info">River park</div>
                <div class="footer-copyright">&copy; 2019 Все права защищены</div>
            </div>
        </footer>
    </div>
</body>

</html>