.d-f {
    display: flex;
    flex-wrap: wrap;
}

.justify-between {
    justify-content: space-between;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.container {
    max-width: 1400px;
    margin: 0 auto;

    @media screen and (max-width: 1500px) {
        max-width: 1200px;
    }

    @media screen and (max-width: 1400px) {
        max-width: 1100px;
    }

    @media screen and (max-width: 1199px) {
        padding: 0 20px;
    }

    &-big {
        max-width: 1800px;
    }
}

.align-bottom {
    align-items: flex-end;
}

.align-center {
    align-items: center;
}

body {
    font: normal 16px / 1.4 'DIN Pro';
    color: #000;
}

.wrapper {
    overflow: hidden;
    min-width: 320px;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 15px 60px;
    font-size: 20px;
    line-height: 1.5;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    cursor: pointer;

    @media screen and (max-width: 991px) {
        font-size: 14px;
    }

    &:focus {
        outline: none;
    }
}

.btn-callback {
    height: 50px;
    line-height: 50px;
    width: 100%;
    border-radius: 25px;
    background-color: #0C7492;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.4px;
    line-height: 19px;
    text-align: center;
    color: #fff;

    &:hover,
    &:focus {
        background-color: #fff;
        border: 1px solid #0C7492;
        color: #0C7492;
    }
}

.btn-primary {
    color: #fff;
    background-color: #000000;
    border-color: #343a40;

    @media screen and (max-width: 767px) {
        width: 100%;
    }

    &:hover,
    &:focus {
        background-color: #fff;
        color: #000;
        border: 1px solid #000;
    }
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: #000;

    &:hover,
    &:active,
    &:focus {
        color: #0C7492;
        text-decoration: none;
    }
}

ul {
    list-style: none;
    padding: 0;
    margin: 0 0 20px;

    li {
        position: relative;
        padding-left: 20px;
        font-size: 20px;
        line-height: 30px;

        @media screen and (max-width: 991px) {
            font-size: 16px;
            line-height: 20px;
        }

        &:after {
            content: '';
            position: absolute;
            left: 0;
            top: 11px;
            height: 8px;
            width: 8px;
            background-color: #85B2CA;
            border-radius: 8px;

            @media screen and (max-width: 767px) {
                top: 7px;
            }
        }
    }
}