.d-f {
    display: flex;
    flex-wrap: wrap;
}

.justify-between {
    justify-content: space-between;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.container {
    max-width: 1400px;
    margin: 0 auto;

    &-big {
        max-width: 1800px;
    }
}

.align-bottom {
    align-items: flex-end;
}

.align-center {
    align-items: center;
}

body {
    font: normal 16px / 1.4 'DIN Pro';
    color: #000;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 15px 60px;
    font-size: 20px;
    line-height: 1.5;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    cursor: pointer;

    &:focus {
        outline: none;
    }
}

.btn-primary {
    color: #fff;
    background-color: #000000;
    border-color: #343a40;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: #000;

    &:hover,
    &:active,
    &:focus {
        color: #0C7492;
        text-decoration: none;
    }
}

ul {
    list-style: none;
    padding: 0;
    margin: 0 0 20px;

    li {
        position: relative;
        padding-left: 20px;
        font-size: 20px;
        line-height: 30px;

        &:after {
            content: '';
            position: absolute;
            left: 0;
            top: 11px;
            height: 8px;
            width: 8px;
            background-color: #85B2CA;
            border-radius: 8px;
        }
    }
}